.page-footer__logo {
    display: none;
}

.page-footer {
    background-color: #f1f1f1;
}

.page-footer__social {
    @include indents();
    min-height: 80px;
    width: 260px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;

    margin: 0 auto;
}

.page-footer__social-list {
    @include indents();
    width: 141px;
       
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: baseline;
}

.page-footer__social-icon {
    &:hover {
        fill: #46c1ae;
    }
    &:active {
        opacity: 0.3;
    }
}

.page-footer__copyright-link {
    @include indents();
    @include font(19px, 80px, 700);
    position: relative;
    display: block;
    width: 182px;
    min-height: 80px;
    text-decoration: none;
    color: #000;

    margin: 0 auto;

    &:active {
        opacity: 0.3;
    }
    &:hover .page-footer__copyright-logo {
        fill: #46c1ae;
    }
    &:active .page-footer__copyright-logo {
        opacity: 0.3;
    }
}

.page-footer__copyright-logo {
    position: absolute;
    top: 22px;
    right: 0;

    fill: $light-green;
}

@media(min-width: $tablet-width) {
    .page-footer__container {
        margin: 0 auto;
        width: 668px;
        min-height: 143px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .page-footer__logo {
        display: block;
    }

    .page-footer__social {
        position: absolute;
        left: 50%;
        margin-left: -69px;
        width: 141px;
        border-bottom: none;
    }

    .page-footer__copyright-link {
        margin: 0;
    }
    
}

@media (min-width: $desktop-width) {
    .page-footer__container {
        @include indents();
        width: 1050px;
        margin: 0 auto;
    }
}