.preview {
    width: 320px;
}

.preview__slogan {
    display: block;
    padding: 72px 36px 120px 36px; 

    background: $main-color url("../img/hero-mobile.jpg") no-repeat;
    background-size: cover;

    @include font(27px, 30px, 700);
    text-align: center;
}

.preview__list {
    @include indents();
    list-style: none;   
}

.preview__item {
    padding: 28px 120px 30px 28px;

    @include font(19px, 24px, 700);
    color: #fff;

    &--interior {
        background-color: $light-green;
    }

    &--toys {
        background-color: $dark-green;
    }
}