.preview__slogan {
    display: block;
    box-sizing: border-box;
    min-height: 283px;
    padding: 72px 36px 0; 

    background: #f9f9f9 url("../img/hero-mobile.jpg") no-repeat center -15px;
    border-top: 1px solid $light-grey;

    @include font(27px, 30px, 700);
    text-align: center;
}

.preview__list {
    @include indents();
    list-style: none;   
}

.preview__item {
    padding: 29px;

    @include font(19px, 24px, 700);
    color: #fff;

    &--interior {
        background-color: $light-green;
    }

    &--toys {
        background-color: $dark-green;
    }
}

@media (min-width: $tablet-width) {
    .preview__slogan {
        height: 746px;
        padding-top: 155px;
        background: #f9f9f9 url("../img/hero-desktop.jpg") no-repeat center;
        @include font(43px, 50px, 700);
    }

    .preview__wrapper {
        position: relative;
        width: 676px;
        margin-left: auto;
        margin-right: auto;
    }

    .preview__list {
        position: absolute;
        bottom: 0px;
        display: flex;
    }

    .preview__item {
        flex: 1 0 334px;
        box-sizing: border-box;
        width: 0.5em;
        padding: 33px 36px 43px;
    }

    .preview__decoration {
        position: absolute;
        margin-top: -20px;
        display: block;
        min-height: 20px;
        min-width: 100%;
        background: url("../img/zigzag-fill-desktoppng.png") repeat-x 0 0px;
    }
}

@media (min-width: $desktop-width) {
    .preview__slogan {
        padding-top: 160px;
        @include font(53px, 57px, 700);
    }

    .preview__wrapper {
        width: 1050px;
        margin-left: auto;
        margin-right: auto;
    }

    .preview__item {
        flex-basis: 525px;
        padding-right: 330px;
        padding-bottom: 42px;
    }
}