.reviews {
    width: 260px;
}

.reviews__title {
    @include font(25px, 30px, 700);
}

.reviews__item {
    @include indents();
}

.reviews-text {
    @include indents();
    @include font(15px, 30px);
    color: $grey;
}

.reviews__author {
    @include font(17px, 24px, 700);
}

.reviews__adress {
    @include font(17px, 30px);
    color: $grey;
}

.reviews__button {
    padding-top: 0px;
}