.top-item {
    position: relative;
}

.top-item__title {
    @include indents();
    @include font(25px, 30px, 700);
    padding-top: 30px;
    padding-bottom: 50px;
}

.top-item__subtitle {
    
    @include indents();
    @include font(17px, 20px, 700);
    text-transform: uppercase;
    color: $light-green;
    
    position: absolute;
    top: 65px;   
}

.top-item__info {
    @include indents();
    @include font(15px, 24px);
    color: $grey;
    margin-bottom: 22px;
}

.top-item__descriptions {
    color: $grey;
    @include font(15px, 24px);
}

.table {
    @include indents();
    @include font(15px, 20px);
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 29px;

}

.table__tr {
    @include indents();
    border-bottom: 1px solid $light-grey;
}

.table__desc {
    @include indents();
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.table__value {
    @include indents();
}

.top-item__price {
    color: $grey;
    @include font(17px, 24px, 700);
}

.top-item__order {

    border: 2px solid $grey;
    color: $grey;
    @include font(17px, 24px, 700);
    text-decoration: none;
    
}

@media (min-width: $tablet-width) {
    .top-item {
        
    }
}

