.top-item__title {
    @include indents();
    text-transform: uppercase;
    @include font(17px, 20px);
    color: $light-green;
}

.top-item__subtitle {
    @include indents();
    @include font(25px, 30px);
}

.top-item__info {
    color: $grey;
    @include font(15px, 24px);
}

.top-item__descriptions {
    color: $grey;
    @include font(15px, 24px);
}

.top-item__price {
    color: $grey;
    @include font(17px, 24px);
    font-weight: 700;
}

.top-item__order {

    border: 2px solid $grey;
    color: $grey;
    @include font(17px, 24px);
    font-weight: 700;
    text-decoration: none;
    
}