$white: #fff;
$light-green: #63d1bb;
$dark-green: #56c3b2;
$grey: #444444;

$main-color: $white;

@mixin indents {
    margin: 0;
    padding: 0;
}

@mixin font ($font-size, $line-height) {
    font-size: $font-size;
    line-height: $line-height;
}

body {
    min-width: 320px;

    font-family: 'Open Sans', 'Arial', sans-serif;

    background-color: $main-color;
}

.button {
    border: 2px solid $grey;
    color: $grey;
    @include font(17px, 24px);
    font-weight: 700;
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@import "normalize.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/preview.scss";
@import "blocks/top-item.scss";
@import "blocks/features.scss";
@import "blocks/reviews.scss";
@import "blocks/contacts.scss";
@import "blocks/page-footer.scss";